# Maven target directory
/target/

# Compiled class files
*.class

# Logs
*.log

# IDE files
# IntelliJ
.idea/
*.iml
*.iws
out/

# Eclipse
.project
.classpath
.settings/
bin/

# VS Code
.vscode/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# macOS metadata files
.Spotlight-V100
.Trashes

# Maven Wrapper
.mvn/
!/.mvn/wrapper/maven-wrapper.jar
mvnw
mvnw.cmd

# Environment files
.env
.env.*

# Java crash logs (if any)
hs_err_pid*
replay_pid*

# Third party JAR files from Ghidra
lib/*.jar

