name: Build with Maven

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      GHIDRA_VERSION: 11.3.2
      GHIDRA_DATE: 20250415
      GHIDRA_LIBS: >-
        Features/Base/lib/Base.jar
        Features/Decompiler/lib/Decompiler.jar
        Framework/Docking/lib/Docking.jar
        Framework/Generic/lib/Generic.jar
        Framework/Project/lib/Project.jar
        Framework/SoftwareModeling/lib/SoftwareModeling.jar
        Framework/Utility/lib/Utility.jar
        Framework/Gui/lib/Gui.jar

    steps:
    - uses: actions/checkout@v4
    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'
        cache: maven

    - name: Download Ghidra
      run: |
        wget --no-verbose -O ghidra.zip https://github.com/NationalSecurityAgency/ghidra/releases/download/Ghidra_${{ env.GHIDRA_VERSION }}_build/ghidra_${{ env.GHIDRA_VERSION }}_PUBLIC_${{ env.GHIDRA_DATE }}.zip
        7z x -bd ghidra.zip

    - name: Copy Ghidra libs
      run: |
        mkdir -p ./lib
        for libfile in ${{ env.GHIDRA_LIBS }}
          do echo "Copying ${libfile} to lib/"
          cp ghidra_${{ env.GHIDRA_VERSION }}_PUBLIC/Ghidra/${libfile} ./lib/
        done

    - name: Build with Maven
      run: mvn clean package assembly:single

    - name: Assemble release directory
      run: |
        mkdir release
        cp target/GhidraMCP-*-SNAPSHOT.zip release/
        cp bridge_mcp_ghidra.py release/

    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: GhidraMCP-artifact
        path: |
          release/*
